<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by Rox (ADTEC) -->
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
     <context-param>
		<param-name>ATMPHost</param-name>
		<param-value>12.0.98.166</param-value>
		<description>ATMP主机名</description>
	</context-param>
	<context-param>
		<param-name>ATMPPort</param-name>
		<param-value>6555</param-value>
		<description>ATMP端口</description>
	</context-param>
	<context-param>
		<param-name>CenterPosition</param-name>
		<param-value>北京天安门</param-value>
		<description>地图中心原点</description>
	</context-param>
	<context-param>
		<param-name>ConnATMPTimeOut</param-name>
		<param-value>300000</param-value>
		<description>ATM监控服务器服务端口</description>
	</context-param>
	<context-param>
		<param-name>DEBUG</param-name>
		<param-value>1</param-value>
		<description>调试标志（0-不进行调试、1-进行调试）</description>
	</context-param>
	<context-param>
		<param-name>LoginTimeOut</param-name>
		<param-value>0</param-value>
		<description>用户登录超时时间（大于0，以分钟为单位。如果不设置或小于0，则不做超时处理）</description>
	</context-param>
	<context-param>
		<param-name>MapFilePath</param-name>
		<param-value>/Monit_Server/map</param-value>
		<description>地图实际保存路径</description>
	</context-param>
	<context-param>
		<param-name>WatchPort</param-name>
		<param-value>3456</param-value>
		<description>ATM监控服务器服务端口</description>
	</context-param>
	<context-param>
		<param-name>bjcitysub</param-name>
		<param-value>50022</param-value>
		<description>北京市城区图</description>
	</context-param>
	<context-param>
		<param-name>bjsuburb</param-name>
		<param-value>50021</param-value>
		<description>北京郊区地图</description>
	</context-param>

  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  
	<servlet>
		<servlet-name>InBalanceServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.OtherManage.InBalanceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>POSPublicKeyServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSPublicKeyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>POSPublicAppServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSPublicAppServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ATMDeviceManageServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.devicemanage.ATMDeviceManageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TransDetailServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.trandetail.TransDetailServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WatchServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.watch.WatchServlet</servlet-class>
		<load-on-startup>50</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>bankcodemanageservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.systemmanage.BankCodeManageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cdmdevicemanageservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.CDMDeviceManage.CDMDeviceManageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cdmdevicemngservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.CDMDeviceManage.CDMDeviceMngServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>codemanageservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.systemmanage.CodeManageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>devicemanageservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.devicemanage.DeviceManageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>initservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.systemmanage.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>loadcdminfo</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.CDMDeviceManage.loadCdmInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>loginmanageservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.loginmanage.LoginManageServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>logmanagerservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.usermanager.logManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mapmanageservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.mapmanage.MapManageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mitdevicemanageservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.MITDeviceManage.MITDeviceManageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>mitdevicemngservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.MITDeviceManage.MITDeviceMngServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>orgmanagerservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.usermanager.orgManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>parametersetservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.ParameterSet.ParameterSetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>posicservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSICCardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PosFundServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.PosFundServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PosCompanyServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.PosCompanyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ETPCustServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.ETPManage.ETPCustServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ETPFixingServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.ETPManage.ETPFixingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pemdevicemanageservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.PEMDeviceManage.PEMDeviceManageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pemdevicemngservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.PEMDeviceManage.PEMDeviceMngServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>posdevicemanageservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSDeviceManageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>posdevicemngservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSDeviceMngServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>posenrollservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSEnrollManageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>posaccountservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSAccountServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>posmerchantservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSMerchantServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fcardmerchantservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSFCardMerchantServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>fcardposservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSFCardDevManageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>posupdateservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.devicemanage.PosUpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>rolemanagerservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.usermanager.roleManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>txncodemanageservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.systemmanage.TxnCodeManageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>txnauthmngservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.systemmanage.TxnAuthMngServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>userMngServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.usermanager.userMngServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>usermanagerservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.usermanager.userManagerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AgentBusMapServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.AgentManage.AgentBusMapServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActMerchantServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.AgentManage.ActMerchantServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActDeviceServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.AgentManage.ActDeviceServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ActTellerServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.AgentManage.ActTellerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DccCtrlServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.systemmanage.DccCtrlServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BfFcServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.BankFutures.BfFcServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BfInvestorServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.BankFutures.BfInvestorServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BfTellerServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.BankFutures.BfTellerServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>ThirdPartyTellerServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.ThirdPartyManage.ThirdPartyTellerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ThirdPartyMerchantServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.ThirdPartyManage.ThirdPartyMerchantServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BfCardservlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.BankFutures.BfCardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>POSMoneyManageServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSMoneyManageServlet</servlet-class>
	</servlet>
  	<servlet>
    	<servlet-name>POSInAccountServlet</servlet-name>
    	<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSInAccountServlet</servlet-class>
  	</servlet>
  
  	<servlet>
    	<servlet-name>POSPoundageServlet</servlet-name>
    	<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSPoundageServlet</servlet-class>
  	</servlet>
  	<servlet>
    	<servlet-name>POSTransferAccountsServlet</servlet-name>
    	<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSTransferAccountsServlet</servlet-class>
  	</servlet>
  	<servlet>
    	<servlet-name>POSLcCardServlet</servlet-name>
    	<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSLcCardServlet</servlet-class>
  	</servlet>
	<servlet>
		<servlet-name>POSBCCompanyServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSBCCompanyServlet</servlet-class>
	</servlet>
   	<servlet>
		<servlet-name>POSBCCardServlet</servlet-name>
		<servlet-class>com.adtec.toucs.monitor.POSDeviceManage.POSBCCardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>dlservlet</servlet-name>
		<servlet-class>com.adtec.ccbbj.servletunion.DownLoadServlet</servlet-class>
	</servlet>






	<servlet-mapping>
		<servlet-name>ATMDeviceManageServlet</servlet-name>
		<url-pattern>/ATMDeviceManageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cdmdevicemngservlet</servlet-name>
		<url-pattern>/CDMDeviceManage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mitdevicemngservlet</servlet-name>
		<url-pattern>/MITDeviceManage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pemdevicemngservlet</servlet-name>
		<url-pattern>/PEMDeviceManage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>posdevicemngservlet</servlet-name>
		<url-pattern>/POSDeviceManage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransDetailServlet</servlet-name>
		<url-pattern>/TranDetailQuery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WatchServlet</servlet-name>
		<url-pattern>/WatchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>bankcodemanageservlet</servlet-name>
		<url-pattern>/bankcodeman</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cdmdevicemanageservlet</servlet-name>
		<url-pattern>/cdmdeviceconfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>codemanageservlet</servlet-name>
		<url-pattern>/codeman</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>devicemanageservlet</servlet-name>
		<url-pattern>/deviceconfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InBalanceServlet</servlet-name>
		<url-pattern>/inbalance</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>initservlet</servlet-name>
		<url-pattern>/init</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loadcdminfo</servlet-name>
		<url-pattern>/loadCdmInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logmanagerservlet</servlet-name>
		<url-pattern>/logManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginmanageservlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mapmanageservlet</servlet-name>
		<url-pattern>/mapmanageservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mitdevicemanageservlet</servlet-name>
		<url-pattern>/mitdeviceconfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>orgmanagerservlet</servlet-name>
		<url-pattern>/orgManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>parametersetservlet</servlet-name>
		<url-pattern>/parametersetservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>posicservlet</servlet-name>
		<url-pattern>/posicservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PosFundServlet</servlet-name>
		<url-pattern>/posfund</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PosCompanyServlet</servlet-name>
		<url-pattern>/poscompany</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ETPCustServlet</servlet-name>
		<url-pattern>/etpcust</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ETPFixingServlet</servlet-name>
		<url-pattern>/etpfixing</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pemdevicemanageservlet</servlet-name>
		<url-pattern>/pemdeviceconfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>posdevicemanageservlet</servlet-name>
		<url-pattern>/posdeviceconfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>posenrollservlet</servlet-name>
		<url-pattern>/posenrollconfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>posaccountservlet</servlet-name>
		<url-pattern>/posaccountconfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>POSPublicKeyServlet</servlet-name>
		<url-pattern>/poskeyconfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>POSPublicAppServlet</servlet-name>
		<url-pattern>/pospublicappconfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>posmerchantservlet</servlet-name>
		<url-pattern>/posmerchantconfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fcardmerchantservlet</servlet-name>
		<url-pattern>/fcardmerchantconfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fcardposservlet</servlet-name>
		<url-pattern>/fcardposconfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>posmerchantservlet</servlet-name>
		<url-pattern>/checkprize</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>posupdateservlet</servlet-name>
		<url-pattern>/posupdate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rolemanagerservlet</servlet-name>
		<url-pattern>/roleManager</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>txncodemanageservlet</servlet-name>
		<url-pattern>/txncodeman</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>txnauthmngservlet</servlet-name>
		<url-pattern>/txnauthman</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userMngServlet</servlet-name>
		<url-pattern>/userMngServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>usermanagerservlet</servlet-name>
		<url-pattern>/usermanagerservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AgentBusMapServlet</servlet-name>
		<url-pattern>/agentbusmap</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActMerchantServlet</servlet-name>
		<url-pattern>/actmerchant</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActDeviceServlet</servlet-name>
		<url-pattern>/actdevice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActTellerServlet</servlet-name>
		<url-pattern>/actteller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DccCtrlServlet</servlet-name>
		<url-pattern>/dccctrl</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BfFcServlet</servlet-name>
		<url-pattern>/bffc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BfInvestorServlet</servlet-name>
		<url-pattern>/bfinvestor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BfTellerServlet</servlet-name>
		<url-pattern>/bfteller</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>ThirdPartyTellerServlet</servlet-name>
		<url-pattern>/thirdPartyTeller</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThirdPartyMerchantServlet</servlet-name>
		<url-pattern>/thirdPartyMerchant</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BfCardservlet</servlet-name>
		<url-pattern>/bfCardservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>POSMoneyManageServlet</servlet-name>
		<url-pattern>/posMoney</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>POSInAccountServlet</servlet-name>
	   <url-pattern>/posInAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>POSPoundageServlet</servlet-name>
	   <url-pattern>/posPoundage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>POSTransferAccountsServlet</servlet-name>
	   <url-pattern>/posTransferAccounts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>POSLcCardServlet</servlet-name>
	   <url-pattern>/posLcCard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>POSBCCompanyServlet</servlet-name>
	   <url-pattern>/posBCCompany</url-pattern>		
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>POSBCCardServlet</servlet-name>
		<url-pattern>/posBCCard</url-pattern>
	</servlet-mapping>
	  
	  <servlet-mapping>
	    <servlet-name>action</servlet-name>
	    <url-pattern>*.do</url-pattern>
	  </servlet-mapping>
	  
  	<servlet-mapping>
		<servlet-name>dlservlet</servlet-name>
		<url-pattern>/servletunion/*</url-pattern>
	</servlet-mapping>
  
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>500</error-code>
		<location>/ToucsMonitor/Error.jsp</location>
	</error-page>
</web-app>
